---
title: "**欢迎来到MAgPIE-China主页**"

layout: page

permalink: /index.zh.html

header:
    overlay_image: /assets/images/background.webp
    overlay_filter: rgba(0, 0, 0, 0.6)

    actions:
        - label: "MAgPIE"
          url: https://magpiemodel.github.io/
          blank: true
        - label: "MAgPIE-China"
          url: /MAgPIE-China
          blank: true

    caption: "Source:12138"

excerpt: ""



gallery:
    - url: "https://www.zjuers.com/black"
      image_path: /assets/images/gallery/jan2.png
      alt: "placeholder image 1"
      title: "Image 1 title caption"
    - url: /assets/images/sydney-2.webp
      image_path: /assets/images/gallery/hermann1.jpg
      alt: "placeholder image 2"
      title: "Image 2 title caption"
    - url: /assets/images/sydney-3.webp
      image_path: /assets/images/gallery/hermann2.jpg
      alt: "placeholder image 3"
      title: "Image 3 title caption"


round-images:
    - image-path: "/members/xiaoxi_wang/assets/images/xiaoxi_wang.webp"
      size: "third"
      header: "汪笑溪"
      caption: "浙江大学"
      url: /members/xiaoxi_wang/xiaoxi_wang.zh.html
    - image-path: "/members/bin_lin/assets/images/bin_lin.jpg"
      size: "third"
      header: "林斌"
      caption: "氮素管理"
      url: "/members/bin_lin/bin_lin.zh.html"
    - image-path: "/members/jiaqi_xuan/assets/images/jiaqi_xuan2.jpg"
      size: "third"
      header: "宣佳琦"
      caption: "膳食、食物浪费与健康"
      url: "/members/jiaqi_xuan/jiaqi_xuan.zh.html"
    - image-path: "/members/hao_cai/assets/images/hao_cai.jpg"
      size: "third"
      header: "蔡浩"
      caption: "膳食转型与食物系统"
      url: "/members/hao_cai/hao_cai.zh.html"
    - image-path: "/members/ruiying_du/assets/images/ruiying_du2.jpg"
      size: "third"
      header: "杜瑞莹"
      caption: "技术进步与土地利用变化"
      url: "/members/ruiying_du/ruiying_du.zh.html"
    - image-path:  "/members/jiake_li/assets/images/jiake_li.png"
      size: "third"
      header: "李佳珂"
      caption: "农业绿色生产"
      url: "/members/jiake_li/jiake_li.zh.html"
    - image-path: "/members/peng_zhou/assets/images/peng_zhou.webp"
      size: "third"
      header: "周鹏"
      caption: "农业贸易"
      url: "/members/peng_zhou/peng_zhou.zh.html"
    - image-path: "/members/lei_ye/assets/images/lei_ye.jpg"
      size: "third"
      header: "叶蕾"
      caption: "农业全要素生产率"
      url: "/members/lei_ye/lei_ye.zh.html"
    - image-path: "/members/jiahui_wang/assets/images/jiahui_wang.jpg"
      size: "third"
      header: "王佳慧"
      caption: "智慧农业"
      url: "/members/jiahui_wang/jiahui_wang.zh.html"
    - image-path: "/members/xiao_wu/assets/images/xiao_wu1.jpg"
      size: "half"
      header: "吴晓"
      caption: "浙江大学"
      url: "/members/xiao_wu/xiao_wu.zh.html"
    - image-path: "/members/siyu_zhou/assets/images/siyu_zhou1.jpg"
      size: "half"
      header: "周思妤"
      caption: "浙江大学"
      url: "/members/siyu_zhou/siyu_zhou.zh.html"



image-text-row:
    - header: 经济社会全面绿色转型与资源环境治理体系建设暨第七届CWINS国际研讨会”顺利举办
      excerpt: <font size="2">11月9-10日，第七届CWINS国际研讨会在浙江大学公共管理学院顺利召开，会议主题为“经济社会全面绿色转型与资源环境治理体系建设”。来自德国柏林洪堡大学、波茨坦气候影响研究所、格赖夫斯瓦尔德大学、卡塞尔大学、澳大利亚国立大学、挪威生命科学大学、英国利兹大学、比利时列日大学、北京大学、上海交通大学、厦门大学、中国人民大学、浙江大学等25所国内外高校的40余位专家学者参加了本次会议...
              </br><a href="https://mp.weixin.qq.com/s/FkMACPMBhADrUtOfA5U55g" target="_blank">click to get more...</a>
              </font>
      image-url: "/assets/images/news/cwins_7th.webp"
      alt-text: "Alternative text for the image"
      image-width: "400px"
      image-right: false
      url: "https://mp.weixin.qq.com/s/FkMACPMBhADrUtOfA5U55g"

image-text-row2:
    - header: "灿若星辰｜交叉融合，他在农业经济中开拓新境"
      excerpt: <font size="2">蔡浩，浙江大学公共管理学院2021级农业经济管理专业博士研究生，浙江大学长聘副教授汪笑溪MAgPIE-China团队成员。博士期间，他积极撰写学术论文，多次参加学术会议，认真参与课题组科研项目，已在Nature Sustainability，Nature Food等国内外高水平期刊发表多篇论文。他曾获得研究生国家奖学金、文奇三等奖学金，荣获“浙江大学优秀研究生”称号，获得浙江大学争创优秀博士论文资助，并获得国家留学基金委（CSC）资助，前往英国牛津大学进行联合培养...
              </br><a href="https://mp.weixin.qq.com/s/Kzr_zYQbH3TRTKZtc2PzPQ" target="_blank">click to get more...</a>
              </font>
      image-url: "/assets/images/news/hao.webp"
      alt-text: "Alternative text for the image"
      image-width: "400px"
      image-right: true
      <!-- btn-url: "#"
      btn-class: "info"
      btn-label: "A button"
      blank: false -->

image-text-row3:
- header: 第二十三届长三角研究生暨青年学者“三农”论坛在浙江大学成功举办
  excerpt: <font size="2">2025年11月23日，第二十三届长三角研究生暨青年学者“三农”论坛在浙江大学紫金港校区成功举办。论坛由上海交通大学安泰经济与管理学院、南京农业大学经济管理学院、浙江大学公共管理学院主办，浙江大学中国农村发展研究院承办。...
          </br><a href="https://mp.weixin.qq.com/s/uqZLviiLDytEM6oLfacKGg?poc_token=HBMlJ2mjaEhKcaDCe3UR7Z2GgV5sJ-C4LWMPwVp_" target="_blank">click to get more...</a>
          </font>
  image-url: "/assets/images/news/row3.webp"
  alt-text: "Alternative text for the image"
  image-width: "400px"
  image-right: false
  url: "https://mp.weixin.qq.com/s/FkMACPMBhADrUtOfA5U55g"

---

<section class="site-section alternative-color first-section" id="Team">

    <h1>MAgPIE-China 团队</h1>

    <strong><h2><a href="/members/index.html" target="_blank" style="color:#000;">团队成员</a></h2></strong>

    {% include round-images %}

    <h2>团队动态</h2>

    {% include gallery caption="......"%}

</section>



<hr class="section-sep">


<section class="site-section" id="News">

    <h1>新闻</h1>

    {% include image-text-row id="image-text-row3" %}

    <hr>

    {% include image-text-row id="image-text-row2" %}

    <hr>

    {% include image-text-row %}

</section>



<hr class="section-sep">



<section class="site-section" id="Showcase">

    <h1>成果</h1>

    <div class="notice--success">
        <font size="5"><a href="/showcase/The_triple_benefits_of_slimming_and_greening_the_Chinese_food_system/content.html" target="_blank"><strong>The triple benefits of slimming and greening the Chinese food system</strong></a></font>
        <p>Wang, X.*, Bodirsky, B. L.*, Müller, C., Chen, K., Yuan, C.*, 2022. <strong><i>Nature Food</i></strong> 3, 686-693.</p>
    </div>

    <div class="notice--warning">
        <font size="5"><a href="/showcase/Bundled_measures_for_China’s_food_system_transformation_reveal_social_and_environmental_co-benefits/content.html" target="_blank"><strong>Bundled measures for China’s food system transformation reveal social and environmental co-benefits</strong></a></font>
        <p>Wang, X.*, Cai, H., Xuan, J., Du, R., Lin, B., Bodirsky, B.L., et al, 2025 <strong><i>Nature Food</i></strong> 6, 72-84.</p>
    </div>

    <div class="notice--danger">
        <font size="5"><a href="/showcase/The_multiple_benefits_of_Chinese_dietary_transformation/content.html" target="_blank"><strong>The multiple benefits of Chinese dietary transformation</strong></a></font>
        <p>Hao, C., Xuan, J., Wang, X.*, Yuan, C., et al, 2025. <strong><i>Nature Sustainability</i></strong> </p>
    </div>

    <!-- <div class="notice--info">
        <h4>Paper4</h4>
        <p>more information</p>
    </div> -->

    <hr>
<!--
    <h3>Boxes of different sizes in a container</h3>

    <div class="box-container">

        <div class="box">
            <h4>Box</h4>
            <p>Text in a box</p>
        </div>

        <div class="box box--primary box-half">
            <h4>Primary Box</h4>
            <p>Text in a box</p>
        </div>

        <div class="box box--success box-half">
            <h4>Success Box</h4>
            <p>Text in a box</p>
        </div>

        <div class="box box--warning box-third">
            <h4>Warning Box</h4>
            <p>Text in a box</p>
        </div>

        <div class="box box--danger box-third">
            <h4>Danger Box</h4>
            <p>Text in a box</p>
        </div>

        <div class="box box--info box-third">
            <h4>Info Box</h4>
            <p>Text in a box</p>
        </div>

    </div>

    <hr> -->

    <!-- <h3>Buttons</h3>

    <a href="#" class="btn btn--primary">Primary Button</a>
    <a href="#" class="btn btn--success">Success Button</a>
    <a href="#" class="btn btn--warning">Warning Button</a>
    <a href="#" class="btn btn--danger">Danger Button</a>
    <a href="#" class="btn btn--info">Info Button</a>
    <a href="#" class="btn btn--inverse">Inverse Button</a>
    <br><br>
    <a href="#" class="btn btn--primary btn--x-large">Extra Large Button</a>
    <a href="#" class="btn btn--primary btn--large">Large Button</a>
    <a href="#" class="btn btn--primary">Default Button</a>
    <a href="#" class="btn btn--primary btn--small">Small Button</a> -->

</section>
