---
title: "Showcase of MAgPIE-China"

layout: page

permalink: /showcase/index.zh.html


image-text-row_NS2025_1:
    - header: <font size="6"><em>中国膳食转型的多重效益</em></font>
      excerpt: <font size="4"></br>向更可持续的膳食转变对于实现可持续发展目标并履行《巴黎协定》承诺至关重要。在中国，由于营养不良的双重负担和环境退化，这一转变尤为紧迫。本研究探讨了替代膳食在中国提高公众健康、保障食物可负担性并减少不利环境影响方面的潜力……</font>
      btn-class: "info"
      btn-label: "点击查看更多"
      blank: ture
      image-url: "assets/images/NS_2022_V8_I5.webp"
      alt-text: "Alternative text for the image"
      image-width: "400px"
      image-right: false
      btn-url: The_multiple_benefits_of_Chinese_dietary_transformation/content.html


image-text-row_NF2025_1:
    - header: <font size="6"><em>中国食物系统转型的组合措施呈现出社会与环境的协同收益</em></font>
      excerpt: <font size="4"></br>中国食物系统正经历前所未有的快速转型，与经济、健康和环境之间产生了复杂的相互作用。过去几十年的结构性变化推动了经济发展，但也加剧了供需不匹配、恶化了环境、导致肥胖与营养过剩问题上升，并提高了病原体传播的风险……</font>
      btn-url: Bundled_measures_for_China’s_food_system_transformation_reveal_social_and_environmental_co-benefits/content.html
      btn-class: "info"
      btn-label: "点击查看更多"
      blank: ture
      image-url: "assets/images/NF_2025_V6_I1.webp"
      alt-text: "Alternative text for the image"
      image-width: "400px"
      image-right: true
    
image-text-row_NF2022_1:
    - header: <font size="6"><em>中国食物系统转型的三重收益</em></font>
      excerpt: <font size="4"></br>中国食物系统正经历前所未有的快速转型，与经济、健康和环境之间产生了复杂的相互影响。过去几十年的结构性变化推动了经济发展，但也使供需不匹配加剧、环境恶化、肥胖和过度营养问题上升，并增加了病原体传播风险……</font>
      btn-class: "info"
      btn-label: "点击查看更多"
      blank: ture
      image-url: "assets/images/NF_2022_V3_I9.webp"
      alt-text: "Alternative text for the image"
      image-width: "400px"
      image-right: false
      btn-url: The_triple_benefits_of_slimming_and_greening_the_Chinese_food_system/content.html

<!-- image-text-row-template:
    - header: "图文行示例"
      excerpt: "这是一个图片在右侧（在足够大的屏幕上）的图文行，包含较长的说明文本和一个按钮"
      btn-url: "#"
      btn-class: "info"
      btn-label: "A button"
      blank: false
      image-url: "/assets/images/logo.png"
      alt-text: "Alternative text for the image"
      image-width: "400px"
      image-right: true -->
---






<section class="site-section" id="Showcase">

    <h1>成果</h1>


    {% include image-text-row id="image-text-row_NS2025_1" %}

    <hr>

    {% include image-text-row id="image-text-row_NF2025_1" %}

    <hr>

    {% include image-text-row id="image-text-row_NF2022_1" %}

</section>   

