---
title: "MAgPIE-China Team"

layout: page

permalink: /members/index.zh.html


gallery:
    - url: "https://www.zjuers.com/black"
      image_path: /assets/images/gallery/jan2.png
      alt: "placeholder image 1"
      title: "Image 1 title caption"
    - url: /assets/images/sydney-2.webp
      image_path: /assets/images/gallery/hermann1.jpg
      alt: "placeholder image 2"
      title: "Image 2 title caption"
    - url: /assets/images/sydney-3.webp
      image_path: /assets/images/gallery/hermann2.jpg
      alt: "placeholder image 3"
      title: "Image 3 title caption"


round-images:
    - image-path: "/members/xiaoxi_wang/assets/images/xiaoxi_wang.webp"
      size: "third"
      header: "汪笑溪"
      caption: "浙江大学"
      url: /members/xiaoxi_wang/xiaoxi_wang.zh.html
    - image-path: "/members/bin_lin/assets/images/bin_lin.jpg"
      size: "third"
      header: "林斌"
      caption: "氮素管理"
      url: "/members/bin_lin/bin_lin.zh.html"
    - image-path: "/members/jiaqi_xuan/assets/images/jiaqi_xuan2.jpg"
      size: "third"
      header: "宣佳琦"
      caption: "膳食、食物浪费与健康"
      url: "/members/jiaqi_xuan/jiaqi_xuan.zh.html"
    - image-path: "/members/hao_cai/assets/images/hao_cai.jpg"
      size: "third"
      header: "蔡浩"
      caption: "膳食转型与食物系统"
      url: "/members/hao_cai/hao_cai.zh.html"
    - image-path: "/members/ruiying_du/assets/images/ruiying_du2.jpg"
      size: "third"
      header: "杜瑞莹"
      caption: "技术进步与土地利用变化"
      url: "/members/ruiying_du/ruiying_du.zh.html"
    - image-path:  "/members/jiake_li/assets/images/jiake_li.png"
      size: "third"
      header: "李佳珂"
      caption: "农业绿色生产"
      url: "/members/jiake_li/jiake_li.zh.html"
    - image-path: "/members/peng_zhou/assets/images/peng_zhou.webp"
      size: "third"
      header: "周鹏"
      caption: "农业贸易"
      url: "/members/peng_zhou/peng_zhou.zh.html"
    - image-path: "/members/lei_ye/assets/images/lei_ye.jpg"
      size: "third"
      header: "叶蕾"
      caption: "农业全要素生产率"
      url: "/members/lei_ye/lei_ye.zh.html"
    - image-path: "/members/jiahui_wang/assets/images/jiahui_wang.jpg"
      size: "third"
      header: "王佳慧"
      caption: "智慧农业"
      url: "/members/jiahui_wang/jiahui_wang.zh.html"
    - image-path: "/members/xiao_wu/assets/images/xiao_wu1.jpg"
      size: "half"
      header: "吴晓"
      caption: "浙江大学"
      url: "/members/xiao_wu/xiao_wu.zh.html"
    - image-path: "/members/siyu_zhou/assets/images/siyu_zhou1.jpg"
      size: "half"
      header: "周思妤"
      caption: "浙江大学"
      url: "/members/siyu_zhou/siyu_zhou.zh.html"

---

<section class="site-section" id="Team">

    <h1>MAgPIE-China 团队</h1>

    <h2>团队成员</h2>

    {% include round-images %}

    <h2>团队动态</h2>

    {% include gallery caption="......"%}

</section>
